:root{
    --cor-bg: tomato;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 12px;
}

.cor{
    background-color: var(--cor-bg)
}